*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    color: #ffffff;
    line-height: 1.5;
}
body{
    /* --color-1: #c38eb4;
    --color-2: #e1cbd7;
    --color-3: #86abcf; */
    --color-4: #26425a;
    --color-5: #022442;
    --color-6: #044f5c;
    --color-7: #013a44;

    --background1: #fd9f68;
    --background2: #16a085;
    --background3: #b34404;

    --elementBackground-1: #017e2b23;
    --borderColor: gray;
    --btnBackground: burlywood;
    --onHoverColor: #000;

    /* background: linear-gradient(var(--color-7),var(--color-6),var(--color-5),var(--color-4),var(--color-3)); */
    background: linear-gradient(65deg,var(--background3),var(--background1),var(--background2),var(--background3),var(--background1));
    height: max-content;
    min-height: 100vh;
}

.generalWrapper{
    width: 100%;

    min-height: 100vh;
}






.landing{
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 98%;
    margin: auto;
    height: 100vh;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;

    background-attachment: fixed;
    /* background: #0000003a; */
}

.landing .header{
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 9;

    display: flex;
    justify-content: space-between;
    width: 99%;
    margin: auto;
    align-items: center;
    border-radius: 2%;
    overflow: hidden;
    /* background: var(--elementBackground-1);
    border-bottom: .1px solid var(--borderColor); */
    padding: 20px;

}
.header .myNav{
    height: 100%;
    padding: 10px;
    /* background: var(--elementBackground-1);
    border-bottom: .1px solid var(--borderColor); */
}

.header ul{
    display: inline-flex;
    justify-content: space-evenly;
}
.header li{
    list-style: none;
    padding: 10px;
    
}
.header a{
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}
.header a:hover{
    color: var(--color-4);
}

.landing .landingContent{
    content: '';
    position: absolute;
    bottom: 20%;
    left: 2px;
    z-index: 9;

    width: 100%;

}
.cont{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
}
.nameDescription{
    align-content: center;
    padding: 10px;
    min-height: 30vh;
    border-radius: 4px;
    background: var(--elementBackground-1);
}
.landingContent .first{
    /* width: 40%;
    margin: auto; */
    width: 60%;
    border-top-right-radius: 260%;
    border-bottom-right-radius: 100%;
    /* border-bottom-left-radius: 10%; */
    text-align: start;
    border-top: .1px solid #fff;
    border-bottom: .1px solid #fff;

}
 .second{
    /* border-top-left-radius: 170%;
    border: .1px solid var(--borderColor); */
    
    mask-image: linear-gradient(transparent,#000, #000, #000,#000,transparent);
    -webkit-mask-image: linear-gradient(transparent, #000, #000, #000, #000, transparent);
}

.landingContent h2{
    font-size: 3em;
    color: var(--color-4);
}
.landingContent h4{
    font-size: 1.7em;
}
.landingContent h3{
    font-size: 1.5em;
}
.landingContent h5{
    font-size: 1.2em;
}


.imageRep{
    /* color: #000000ef;
    box-shadow: 1px 1px 6px 10px;
    padding: 7px; */
    max-height: 60vh;
}
.imageRep img{
    width: 100%;
    max-height: 50%;
    margin-top: 40px;
    color: var(--background3);
    box-shadow: 1px 1px 6px 10px;
    object-fit: cover;
    object-position: bottom;

    mix-blend-mode: multiply;
}

.callToActionButton{
    content: '';
    position: absolute;
    bottom: 5%;
    left: 2px;
    z-index: 9;

    /* background: var(--elementBackground-1); */
    width: 100%;
    margin: auto;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.callToActionButton .ctaBtn{
    background: var(--color-4);
    color: var(--color-2);
    border-radius: 8px;
    padding: 7px;
    width: 40%;
    margin: auto;
    font-size: 2em;
    cursor: pointer;
    transition: all 1s;

    border-image-slice: .5;
    border-image-source: linear-gradient( 90deg,#bbb, #fff,#aaa);

    animation: borderShine 10s ease infinite;
    overflow: hidden;
}
@keyframes borderShine{
    25%{
    border-image-source: linear-gradient(90deg, #fff, #aaa,#fff);
    }
    50%{
    border-image-source: linear-gradient( #fff);
    }
}
.ctaBtn:hover{
    background: var(--btnBackground);
    color: var(--onHoverColor);
}



.servicesSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 7px;
    width: 95%;
    margin: auto;

    border-top: .1px solid var(--borderColor);
    background: var(--elementBackground-1);
}
.servicesSection h2{
    font-size: 2.2em;
    color: var(--color-4);
    padding: 10px;
}
.servicesWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    width: 100%;
    min-height: 50vh;
}
.service{
    position: relative;
    overflow: hidden;
    width: 35%;
    margin: auto;

    background: var(--elementBackground-1);
    border-radius: 4%;
    font-size: 1.2em;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service h3{
    text-align: center;
    color: var(--color-4);
    font-size: 1.4em;
}
.service img{
    max-width: 90%;
    min-width: 60%;
    margin: auto;
    max-height: 40vh;
    min-height: 25vh;

    object-fit: cover;
    object-position: center;
    mask-image: linear-gradient(transparent,#000,#000,transparent);
    -webkit-mask-image: linear-gradient(transparent,#000, #000, transparent);
}




.portfolioSection{
    padding: 20px;
    width: 100%;
    border-top: .1px solid var(--borderColor);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--elementBackground-1);
}
.portfolioSection h2{
    font-size: 2.2em;
    color: var(--color-4);
    padding: 10px;
}
.portfolioSection .images{
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
}
.images img{
    object-fit: cover;
    object-position: center;
    max-width: 40%;
    min-width: 25%;
    height: auto;
    max-height: 30vh;

    mask-image: linear-gradient(transparent,#000,#000,transparent);
    -webkit-mask-image: linear-gradient(transparent,#000, #000, transparent);
}



.aboutUsWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 50px;
    width: 99%;
    margin: auto;
    background: var(--elementBackground-1);
    border-top: .1px solid var(--borderColor);
}
.aboutUsWrapper h2{
    font-size: 2.2em;
    color: var(--color-4);
    padding: 10px;
}
.aboutUsWrapper p{
    line-height: 1.5;
    font-size: 1.1em;
}


.testimonialSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 20px;
    width: 95%;
    margin: auto;
    background: #0000003a;
    border-top: .1px solid var(--borderColor);
}
.testimonials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
.testimonialSection h2{
    
    font-size: 2.2em;
    color: var(--color-4);
    padding: 10px;
}
.testimonial{
    width: 30%;
    margin: auto;
    height: auto;
    min-width: 300px;
    /* transform: scale(0); */
    transition: all 1s;

    padding: 10px;
    background: var(--elementBackground-1);
    backdrop-filter: blur(3px);
    border: .1px solid var(--borderColor);

    /* animation: carousel 30s ease-in infinite; */
}

@keyframes carousel{
    0%{
    transform: scale(1);
    transform: translateX(2000px);
    }
    30%{
    transform: translateX(500px);
    }
    60%{
    transform: translateX(500px);
    }
    90%{
        transform: translateX(-3000px);
    }

    100%{
        display: none;
        }
}
.testimonial:nth-child(1){
    animation-delay: 1s;
}
.testimonial:nth-child(2) {
    animation-delay: 1s;
}
.testimonial:nth-child(3) {
    animation-delay: 1s;
}
.testimonial:nth-child(4) {
    animation-delay: 27s;
}
.testimonial:nth-child(5) {
    animation-delay: 27s;
}
.testimonial:nth-child(6) {
    animation-delay: 27s;
}
.testimonial img{
    object-fit: cover;
    object-position: center;

    max-height: 25vh;
    border-radius: 5%;
    width: 80%;
    margin: auto;
    height: auto;
}
.testimonial h3{
    text-align: center;
    font-size: 1.5em;
    color: var(--color-4);
    padding: 10px;
}





.footerWrapper{
    border-top: .1px solid var(--borderColor);
    background: #0000003a;
    padding: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.footerWrapper a:hover {
    color: var(--onHoverColor);
}
.footerElements{
    display: flex;
    justify-content: space-evenly;
    align-items: start;

    width: 95%;
    margin: auto;
}
.footerElements h2{
    color: var(--color-4);
}
.footerElements h4{
    font-size: 1.1em;
    padding: 5px;
    font-weight: 100;
}
.footerElements .connect{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.footerElements a{
    width: 100%;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px;
}

.webLinks{
    background: var(--color-4);
    padding: 30px;
    border-radius: 30%;
    margin: 30px;
}
.webLinks a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    padding: 4px;
}



.copyrights{
    color: var(--color-5);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: consolas;
    font-size: 1.3em;
    padding: 30px;
    background: #000;
}
.copyrights p{
    font-family: consolas;
    color: var(--color-5);
}